<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.ilife_manager">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="iLife记录册"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".addMoneyRecord"
            android:theme="@style/noBarTheme" />
        <activity
            android:name=".checkAccountBook"
            android:theme="@style/noBarTheme" />
        <activity
            android:name=".Chart"
            android:theme="@style/noBarTheme" />
        <activity
            android:name=".infomation"
            android:theme="@style/noBarTheme" />
        <activity android:name=".wipe_listView" />
        <activity
            android:name=".note"
            android:label="便签" />

        <service
            android:name=".RecordService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".TimeRecord"
            android:label="提醒设置"/>
        <activity android:name=".MyAlarm" />
        <activity
            android:name=".editNote"
            android:theme="@style/noBarTheme" />
        <activity android:name=".addBudget"></activity>
    </application>

</manifest>